<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>traverLR - Travel Post Engage Repeat</title>
</head>
<body class="errorPage">
    <div class="logoholder">
        <a class="aboutlogo" href="/home">trave<span class="logoSpan">LR </span></a>
    </div>
    <div class="errorBackground">
        <h1 class="errorH1">Oops! Looks like you got some bad directions to your next adventure.</h1>
        <div class="errorContainer">
            <p class="errorP itemError">You'll find loads to explore on our home page</p>
            <img class="errorImage itemError" src="/images/404.png" alt="error page image">
        </div>
        
        <div class="errorButtonContainer">
            <a class="homelogo" href="/home">
                <button class="errorButton">TraveLR Home</button>
            </a>
           
        </div>
    </div>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
</body>
</html>