
<div class="aboutContainer">
    <div class="logoholder">
        <a class="aboutlogo" href="/home/">trave<span class="logoSpan">LR </span></a>
    </div>
    <h1 class="aboutH1">Travel Post Engage Repeat!</h1>
    <p class="aboutP">TraveLR creates a space for travel enthusiasts to posts pictures of trip excursions and engage with other members of the TraveLR community. Whether you're into posting trips around the world or asking fellow members for advice, there's a place on TraverLR for you.</p>
    

    <!-- <span class =" plant right-top">
        <img class ="aboutimg" src="/images/Cabo Trip 2-modified.png" alt="">
    </span>
    <span class ="plant bottom-left">
        <img class ="aboutimg" src="/images/hotsprings-modified.png" alt="">
    </span> -->
</div>

<div class="photoContainer">
    <div class="right-top">
        <img class="aboutimg" src="/images/Cabo Trip 2-modified.png" alt="">
    </div>
    <div class="nextPara">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi deleniti maiores, sint autem officia, consectetur suscipit quibusdam magni iure eius, nisi voluptas. Saepe nulla eveniet error deserunt reiciendis unde ea. Quae laudantium sapiente et nostrum voluptate similique dolorem pariatur eius.</p>
    </div>
    <div class="bottom-left">
        <img class="aboutimg" src="/images/hotsprings-modified.png" alt="">
    </div>
</div>

