
<div class="aboutContainer">
    <div class="logoholder">
        <a class="aboutlogo" href="/home">trave<span class="logoSpan">LR </span></a>
    </div>
    <h1 class="aboutH1">Travel Post Engage Repeat</h1>
    <p class="aboutP">TraveLR creates a space for travel enthusiasts to posts pictures of trip excursions and engage with other members of the TraveLR community. Whether you're into posting trips around the world or asking fellow members for advice, there's a place on TraverLR for you.</p>
    
</div>

<div class="photoContainer">
    <div class="item">
        <img class="aboutimg" src="/images/aboutimage1.png" alt="">
    </div>
    <div class="item">
        <img class="aboutimg" src="/images/aboutimage2.png" alt="">
    </div>
    <div class="item">
        <img class="aboutimg" src="/images/aboutimage3.png" alt="">
    </div>
</div>

<div class="actions">
    <div class="post item2">
        <div class="iconDiv">
            <span class="iconify" data-icon="bx:image-add" data-width="35"></span> <h3 class="abouth3">Post</h3>
        </div>
        <p class="aboutp">TraveLR's can share content by posting images and a description of their excursions.</p>
    </div>
    
    <div class="comment item2">
        <div class="iconDiv">
            <span class="iconify" data-icon="bx:comment-dots" data-width="35"></span>
            <h3 class="abouth3">Comment</h3>
        </div>
        <p class="aboutp"> TraveLR's can comment on posts. Comments provide discussion and often humor.</p>
    </div>
    <div class="view">
        <div class="iconDiv">
            <span class="iconify" data-icon="bx:map" data-width="35"></span>
            <h3 class="abouth3 item2">View</h3>
        </div>
        <p class="aboutp">TraveLR's can view and engage with most traveled locations by vistings the TraveLR Map page.</p>
    </div>
</div>

<script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

