<a href="/" class = "nounderline"><h1 class = logo>trave<span class = logoSpan>LR</span></h1> </a>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/session/home" method ='POST'>
			<h1>Create Account</h1>
			<input required type="text" placeholder="Choose A Username" name = "username" id = "username" />
			<input required  type="password" placeholder="Create Password" name ="password" id="password" />
			<input type="password" placeholder="Re-type Password" name ="verifyPassword"> 
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="session/home">
			<h1>Sign in</h1>
			<input required type="text" placeholder="Username" name = "username" id ="username" />
			<input required  type="password" placeholder="Password" name= "password" id ="password"/>
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back traveLR!</h1>
				<p>Travel, Post, Engage, Repeat!</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Future traveLR!</h1>
				<p>Enter your personal details and start journey</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<!-- Vanilla JavaScript code below for initial signin and signup button click animation. -->
<script>
    const signUpButton = document.getElementById('signUp');
const signInButton = document.getElementById('signIn');
const container = document.getElementById('container');

signUpButton.addEventListener('click', () => {
	container.classList.add("right-panel-active");
});

signInButton.addEventListener('click', () => {
	container.classList.remove("right-panel-active");
});
</script>