<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.css"/>
    <script  src="https://code.jquery.com/jquery-3.6.0.js"></script> 
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js" ></script>
    <!-- <script src="/javascripts/carousel.js"></script> -->

    

    
    <title>Document</title>
</head>
<body>
    <% if (message) { %>
        <p class="message"><%= message %></p>
    <% } %>

    <%- body %> 
</body>

<footer>
    <div class="footer-container">
        <div>
           <p class="footerP">About</p> 
        </div>
        <div>
           <p class="footerP">Help</p> 
        </div>
        <div>
            <p class="footerP"> 
             <a class="footerMap" href="/cluster">TraverLR Map</a>   
            </p>
        </div>
    </div>
    <script>
            document.addEventListener('touchstart', function() {});
    </script>
</footer>
</html>

<script src="/javascripts/emoji.js"></script>