<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script defer src="/javascripts/homePage.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>

    

    
    <title>Document</title>
</head>
<body>
    <% if (message) { %>
        <p class ="message"><%= message %></p>
    <% } %>

    <%- body %> 
</body>

<footer>
    <div class = "footer-container">
        <div>
           <p class = 'footerP'>About</p> 
        </div>
        <div>
           <p class = 'footerP'>Help</p> 
        </div>
        <div>
            <p class = 'footerP'> 
             <a class = "footerMap" href="/cluster">TraverLR Map</a>   
            </p>
        </div>
    </div>
</footer>
</html>