

 <div class = "logout">
    <a href="/home/"><button class = btnLogout>home</button></a>
    <p class ="homelogo">trave<span class ="logoSpan">LR </span></p>
</div>


<div id="map" class = homecontainer></div>



<script>
    const mapToken ='<%-process.env.MAPBOX_TOKEN%>'
    const posts = '<%-(posts)%>'

</script>



<script src="/javascripts/map.js"></script>
