<section class = index>

<a href="/home/">
    <button class="btnBack">Back Home</button>  
</a>
<div class="container" id="container">
	<div>
		<form action="/home" method ='POST' enctype="multipart/form-data">
			<h1 class = postFormH1>New Post</h1>
			<input type="text" placeholder="Location" name ="post[location]" id = "location" />
			<input required  type="file" placeholder="Image" name ="img" id="img" />
			<input type="text" placeholder="Write a caption" name ="post[description]" id="description"> 
			<button>Share Adventure</button> 
		</form>
	</div>
</div>

</section>