.logo {
  margin-top: 10px;
  color: cadetblue;
  font-family: "Secular One", sans-serif;
  font-size: 40px;
  text-align: center;
}

.message {
  color: white;
  background-color: rgb(235, 110, 110);
  border-radius: 4px;
  text-align: center;
  padding: 2px;
}

.logoSpan {
  color: white;
  text-shadow: 1px 1px 0 cadetblue, 1px 1px 0 cadetblue, 1px 1px 0 cadetblue,
    1px 1px 0 cadetblue;
}

h3 {
  font-family: "Ubuntu Condensed", sans-serif;
}

/* remove hyperlink from logo route back to the homepage*/

.nounderline {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

/*login/signup page styling*/

.index {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

.loginP {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

button {
  border-radius: 20px;
  border: 1px solid cadetblue;
  background-color: cadetblue;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  overflow: auto;
  width: 800px;
  max-width: 100%;
  min-height: 600px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: cadetblue;
  background: -webkit-linear-gradient(to right, cadetblue, cadetblue);
  background: linear-gradient(to right, cadetblue, rgb(47, 154, 158));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

/*home page styliong*/

.home {
  background-color: white;
}

.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homelogo {
  color: cadetblue;
  margin-left: 20px;
  font-family: "Secular One", sans-serif;
  font-size: 35px;
}

.btnLogout {
  background-color: white;
  color: cadetblue;
  border-color: cadetblue;
  padding: 5px;
  margin-right: 20px;
  text-transform: none;
  font-size: 20px;
}

.btnLogout:hover {
  background-color: cadetblue;
  color: white;
  border-color: white;
}

.username {
  color: black;
  text-align: left;
  /* margin-left: 40px; */
  text-align: center;
  font-family: "Secular One", sans-serif;
}

.usernameSpan {
  color: cadetblue;
}

.postButtonContainer {
  margin-bottom: 10px;
  text-align: center;
}

.postButton {
  padding: 8px;
}

.postButton:hover {
  background-color: white;
  color: cadetblue;
  border-color: cadetblue;
  transform: scale(1.2);
}

.btnNew {
  margin-top: 10px;
}

#homeH2 {
  text-align: center;
  margin-top: 0px;
  color: gray;
  font-size: 20px;
  font-family: "Inter", sans-serif;
}

.homecontainer {
  background-color: ghostwhite;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 1500px;
  max-width: 100%;
  min-height: 400px;
  box-shadow: 2px 2px 6px 1px #aaa5a5;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

.card {
  max-width: 100%;
  padding: 1%;
  flex-grow: 1;
  flex-basis: 16%;
  text-align: center;
}

.title {
  font-size: 16px;
  margin-bottom: 5px;
  text-align: center;
  color: cadetblue;
  font-family: "Inter", sans-serif;
}

.topDiv {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  width: 370px;
  height: 23px;
  padding: 0;
}

.usernameSpanHome {
  color: #333;
  font-weight: bold;
  font-size: 14px;
}

.menuBar {
  width: 14px;
  height: auto;
}

.menuBarDiv {
  text-align: center;
  padding: 0;
}

.image img {
  border-radius: 4px;
  width: 350px;
}

img {
  width: 350px;
  height: 350px;
  object-fit: cover;
}

img:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0);
  box-shadow: 0px 8px 6px -6px #413d3d;
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.likes > .likesDiv {
  margin-left: 20px;
}

.likesText {
  padding: 0;
  margin: 0;
}

.likesIcon {
  margin: 0;
  padding: 0;
}

.caption {
  margin-top: auto;
  font-size: 14px;
  color: gray;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.timestamp {
  font-size: 14px;
  color: lightgray;
}

/* post form styling */

.postFormH1 {
  font-size: 20px;
}

/* edit page styling*/

.editcontainer {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  overflow: auto;
  width: 600px;
  max-width: 100%;
  min-height: 400px;
  margin-bottom: 20px;
}

.btnBack {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #aaa5a5;
  border-color: #aaa5a5;
}

.editbtn {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .editImg {
  text-align: center;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
} */

.editcheck {
  font-size: 10px;
  padding: 0px;
}

.checkbox {
  background-color: green;
  margin: 0px;
  border: solid green;
}

/* menu bar code for edit and delete*/

.menu {
  visibility: hidden;
  position: absolute;
  /* z-index: 1; */
  display: inline-block;
  background-color: white;
  border-radius: 4px;
  border: 1px solid #dedede;
  width: auto;
  padding: 2px;
}

nav ul {
  padding-left: 0;
}

ul {
  display: block;
}
.testbtn {
  padding: 0px;
  width: 20px;
  border-radius: 4px;
  background-color: ghostwhite;
  box-sizing: border-box;
  display: inline-block;
  border: solid ghostwhite;
}

.li {
  list-style: none;
  color: white;
  font-size: 14px;
}

.menuBtn {
  border-radius: 0;
  padding: 0px;
  background-color: white;
  color: cadetblue;
  border-color: white;
}

.menuFont:hover {
  color: cadetblue;
}

.menuFont {
  font-size: 12px;
  text-transform: none;
  font-family: "Secular One", sans-serif;
}

#btnDelete {
  padding: 0px;
  width: 50px;
  font-size: 14px;
  background-color: white;
}

#btnDelete:hover {
  color: cadetblue;
}

.testbtn + .menu:active,
.testbtn:focus + .menu {
  visibility: visible;
}

/* footer styling*/

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-container > div {
  margin: 6px;
}

footer {
  color: cadetblue;
  font-size: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 15px;
  border-radius: 4px;
}

.footerMap {
  color: cadetblue;
  font-size: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin-top: 15px;
  border-radius: 4px;
}

.footerP {
  margin: 2px;
}

/* show page styling*/

.showtitle {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  color: cadetblue;
  font-family: "Inter", sans-serif;
}

.authortitle {
  text-align: left;
  margin-left: 10px;
  margin-top: 4px;
  font-size: 16px;
  color: gainsboro;
}

.captionShow {
  margin-top: auto;
  margin-bottom: 10px;
  font-size: 16px;
  color: gray;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.showImg {
  width: 450px;
  height: 450px;
  object-fit: cover;
}

.showcontainer {
  background-color: ghostwhite;
  margin-top: 20px;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: auto;
  width: 600px;
  max-width: 100%;
  min-height: 400px;
  box-shadow: 2px 2px 8px 1px #aaa5a5;
  margin: auto;
}

.cardShow {
  text-align: center;
  margin: auto;
}

/* comments section*/

.commentBtnContainer {
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: ghostwhite;
}

.commentsCard {
  border: solid cadetblue;
  margin: 8px;
  border-radius: 2px;
  border-width: thin;
}

.btnComment {
  font-size: 14px;
  color: white;
  padding: 4px;
  background-color: cadetblue;
  text-transform: none;
  border: solid white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.btnComment:hover {
  color: cadetblue;
  background-color: white;
  border-color: cadetblue;
  transform: scale(1);
}

.commentBox {
  background-color: white;
  border-radius: 4px;
  border: 2px solid #dedede;
  width: auto;
  font-size: 10px;
  font-family: "Inter", sans-serif;
}

.usercommentsContainer {
  text-align: left;
  margin: 8px;
}

.commentText {
  margin: 0;
  font-size: 12px;
  font-family: "Inter", sans-serif;
}

.emojionearea .emojionearea-editor:empty:before {
  text-align: left;
}

.emojionearea .emojionearea-editor {
  text-align: left;
}

.commentDate {
  margin: 0;
  font-size: 12px;
  font-family: "Inter", sans-serif;
}

.commentSpan {
  color: gainsboro;
}

/* delete form on comments */
.btnCommentDelete {
  font-size: 14px;
  color: gainsboro;
  padding: 0px;
  background-color: white;
  text-transform: none;
  border: solid white;
}

.btnCommentDelete:hover {
  color: cadetblue;
  background-color: white;
  border-color: white;
}

.formcolor {
  background-color: ghostwhite;
}

/* show page map syling*/

#map {
  width: 100%;
  height: 100px;
  margin: auto;
  border-radius: 4px;
}

/* camp cluster page styling*/

.mapH1 {
  text-align: center;
  margin-top: 0px;
  color: cadetblue;
  font-size: 30px;
  font-family: "Inter", sans-serif;
}

.map-P {
  text-align: center;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

emoji-picker {
  position: absolute;
}

/* remove close button on map pop-up*/

.mapboxgl-popup-close-button {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0 3px 0 0;
  cursor: pointer;
  background-color: transparent;
  display: none;
}

/* mapbox popup syling*/

/* add color to mapbob caption*/
.mapaTag {
  color: cadetblue;
}

/* cluster map styling */

#mapCluster {
  width: 80%;
  height: 500px;
  margin: auto;
  border-radius: 4px;
}

/* about page styling*/

.aboutContainer {
  margin-top: 50px;
  padding: 15px;
  padding-right: 15px;
  max-width: 972px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.logoholder {
  display: flex;
  justify-content: center;
  margin: 0;
  margin: auto;
}

.aboutlogo {
  text-align: center;
  color: cadetblue;
  font-family: "Secular One", sans-serif;
  font-size: 35px;
}

.aboutH1 {
  font-size: 40px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.aboutP {
  font-size: 25px;
  text-align: center;
}

.aboutimg {
  pointer-events: none;
}

.photoContainer {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.nextPara {
  align-items: center;
  margin: auto;
  text-align: center;
}

/* mobile view*/

@media (max-width: 800px) {
  .loginInput {
    /* font-size: 11px; */
    width: 150%;
  }
}
