

<% if (username) {%> 
    <p>Welcome, <%= username %> !</p>
<%} %>

<body class = home>
    <div class = homecontainer>
        <h2>This will be the home page accessed once a user has either logged in or created a new account</h2>
        </div>
</body>
